
.icon-adult:before { content: '\e803'; } /* '' */
.icon-heart-empty:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */