

.slider {
  
  max-width: 1000px;
}

.slide_viewer {
  height: 340px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background-image: url(dot-grid.png);
}

.slide:nth-of-type(2) {
  
     background-image: url(dot-grid.png);
}

.slide:nth-of-type(3) {
   background-image: url(dot-grid.png);
}

.slide:nth-of-type(4) {
   background-image: url(dot-grid.png);
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  height: 160px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}

.slidem1
{
    
    margin-top: 40px;
    float: left;
    margin-left: 170px;
}
.slidem4
{
    
    margin-top: 90px;
    float: left;
    margin-left: 230px;
    margin-right: 50px;
}
.slidem6
{
    
    margin-top: 75px;
    float: left;
    margin-left: 230px;
    margin-right: 40px;
}
.slidem2
{
    font-family: 'Poppins', sans-serif;
    margin-top: 80px;
    text-align: left;
    float: left;
    font-size: 18px;
}
.slidem5
{
    font-family: 'Poppins', sans-serif;
    margin-top: 110px;
    text-align: left;
    float: left;
    font-size: 18px;
}
.sklepiki
{
    width: 100%;
    background-color: #FAFFB9;
    padding: 50px;
    margin-bottom: 100px;
}
.sklepiki1
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
    font-size: 38px;
     font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.sklepiki2
{
    width: 100%;
      background-image: url(dot-grid.png);
}

.sklepiki3
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
}
.produkt
{
    border: 1px solid aqua;
    font-family: 'Poppins', sans-serif;
    width: 200px;
    margin-bottom: 64px;
    float: left;
    margin-right: 64px;
}
.produkty
{
    border: 1px solid aqua;
    font-family: 'Poppins', sans-serif;
    width: 200px;
    margin-bottom: 20px;
    float: left;
    
}
.editsklep1
{

    border-bottom: 1px solid aqua;
    padding-bottom: 10px
}
.editsklep2
{

 font-size: 17px;
    font-weight: 800;
    padding-top: 10px;
}

.editsklep
{
    background-color: yellow;
    width: 100px;
   margin-left: 10px;
    font-size: 14px;
    padding: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.editsklep3
{
    font-size: 13px;
    font-weight: 100;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px; 
    margin-right: 20px;
    float:left;
}
.editsklep4
{
    font-size: 13px;
    font-weight: 100;
    text-align: left;
    float:left;
    margin-top: 20px;
}
.editsklep5
{
    margin-top: 20px;
   
    color: red;
}
.editsklep6
{
    margin-top: 10px;
   
    color: white;
     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF1A24;
    width: 150px;
    padding: 2px 0px;
    margin-bottom: 20px;
}

.editsklep6:hover
{
    background-color: #cc0802;
    cursor: pointer;
    
}